@font-face {
font-family: "Proxima Nova Extrabold";
    src: url("../font/Proxima%20Nova/Proxima%20Nova%20Extrabold.otf");
}

@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../font/Proxima%20Nova/Proxima%20Nova%20Regular.otf");
}

@font-face {
    font-family: "Proxima Nova Semibold";
    src: url("../font/Proxima%20Nova/Proxima%20Nova%20Semibold.otf");
}

@font-face {
    font-family: "NexaBold";
    src: url("../font/NexaBold/Nexa%20Bold.otf");
}

