/*------------------------------------------Gallery----------------------------------------------*/
.main-galley {
  padding: 7px 10px 0 5px;
  background-color: white;
  .title {
    width: 670px;
  }
}

.gallery {
  .item {
    width: 338px;
    height: 190px;
    margin-bottom: 8px;
    position: relative;
    .title-gallery {
      position: absolute;
      top: 0;
      width: 202px;
      height: 37px;
      background-color: #ffd500;
      font: 300 16px/37px 'Oswald';
      text-align: center;
      text-transform: uppercase;
    }
    .rollover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(34, 34, 34, 0.86);
      opacity: 0;
      cursor: pointer;
      .gallery-discripton {
        display: block;
        margin-top: 130px;
        margin-left: 12px;
        font: 300 16px/24px 'Oswald';
        color: #fff;

      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media(min-width: 769px) {
  .item {
    @include gallery(6 of 12);

  }
  body .main-galley {
    @include span(8 of 12);
  }
}
